services:

  matrix-postgres:
    image: docker.io/library/postgres:16
    container_name: matrix-postgres
    restart: always
    environment:
      POSTGRES_DB: synapse
      POSTGRES_USER: synapse
      POSTGRES_PASSWORD: "{{ postgres_password }}"
      POSTGRES_INITDB_ARGS: "--encoding=UTF8 --locale=C"
    volumes:
      - "{{ matrix_data_root }}/postgres-data:/var/lib/postgresql/data"
    networks:
      - matrix-net

  synapse:
    image: docker.io/matrixdotorg/synapse:latest
    container_name: matrix-synapse
    restart: always
    depends_on:
      - matrix-postgres
    expose:
      - "8008"
    volumes:
      - "{{ matrix_data_root }}/synapse-data:/data"
    networks:
      - matrix-net

  element:
    image: docker.io/vectorim/element-web:latest
    container_name: matrix-element
    restart: always
    depends_on:
      - synapse
    expose:
      - "80"
    volumes:
      - "{{ matrix_data_root }}/element-config.json:/app/config.json:ro"
    networks:
      - matrix-net

  caddy:
    image: docker.io/library/caddy:2
    container_name: matrix-caddy
    restart: always
    depends_on:
      - element
      - synapse
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "{{ matrix_data_root }}/caddy/Caddyfile:/etc/caddy/Caddyfile:ro"
      - "{{ matrix_data_root }}/caddy/data:/data"
      - "{{ matrix_data_root }}/caddy/config:/config"
    networks:
      - matrix-net

networks:
  matrix-net:
    driver: bridge

